venv/*
.idea
TESTS/*
neat-python-master
.spyproject
*.pyc
*.log
neat_local/pytorch_neat/__pycache__/
raw_audio-gender_classification
*.json


raw_audio_gender_classification/data/LibriSpeech/

raw_audio_gender_classification/notebooks/.ipynb_checkpoints/

neat_local/examples/simple/stats_neat_examples_CartPole-v1.png

*.svg

neat_local/examples/simple/species_neat_examples_CartPole-v1.png

neat_local/examples/simple/graph_neat_examples_CartPole-v1
